<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}" target="_self">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
      <div class="day-night-toggle theme-toggle" id="dayNighttoggle" role="button" tabindex="0" aria-label="Enable dark mode" aria-pressed="false">
        <div class="toggle-container" id="toggleContainer">
          <div class="stars" id="stars">
            <div class="star star--1"></div>
            <div class="star star--2"></div>
            <div class="star star--3"></div>
            <div class="star star--1b"></div>
            <div class="star star--2b"></div>
            <div class="star star--3b"></div>
            <div class="star-round star-round--1"></div>
            <div class="star-round star-round--2"></div>
            <div class="star-round star-round--3"></div>
            <div class="star-round star-round--4"></div>
            <div class="star-round star-round--5"></div>
            <div class="star-round star-round--6"></div>
            <div class="star-round star-round--1b"></div>
            <div class="star-round star-round--2b"></div>
            <div class="star-round star-round--3b"></div>
            <div class="star-round star-round--4b"></div>
            <div class="star-round star-round--5b"></div>
            <div class="star-round star-round--6b"></div>
          </div>
          <div class="cloud cloud--2"></div>
          <div class="cloud cloud--1"></div>
          <div class="radiant sun-radiant" id="sunRadiant"></div>
          <div class="radiant moon-radiant" id="moonRadiant"></div>
          <div class="toggle-dot" id="toggleDot">
            <div class="toggle-crater toggle-crater--1"></div>
            <div class="toggle-crater toggle-crater--2"></div>
            <div class="toggle-crater toggle-crater--3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
